<!doctype html>
<html ng-app>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
  </head>
  <body>
  <h1> Things To Do </h1>
  <div class="wrapper">
    <div class="motto">
      <p> Where the god directs may I go with willing feet </p>
    </div>
    <div class="motto">
      <p> If the gods had not invented honey, we would call figs sweeter </p>
    </div>
    <div class="motto">
      <p> Continual dropping wears away the stone </p>
    </div>
  </div>
  <br>
  </br>
  <div ng-controller="CardCtrl">
    <span> {{cards.length }} remaining </span>
    <div ng-repeat="card in currentCards">
      <div> {{card.text}} 
        <form ng-submit="deferCard()">
          <input ng-model="card.defered" type="checkbox" value="defer">
          <input type="submit" value="defer"> 
        </form>
        <form ng-submit="finishCard()">
          <input ng-model="card.done" type="checkbox" value="finish">
          <input type="submit" value="finish">
        </form>
      </div>
    </div>
    <form ng-submit="addCard()">
      <input ng-model="newCardText" size="30" placeholder="add new card here">
      <input type="submit" value="add">
    </form>
    <form ng-submit="loadCards()">
      <input ng-model="existingViewName" size="30" placeholder="get existing cards here">
      <input type="submit" value="load">
    </form>
    <p style="display:none;" id="loaded" ng-model="loaded"><p>
    <form ng-submit="sendCards()">
      <input ng-model="saveName" size="30" placeholder="stack name">
      <input type="submit" value="save">
    </form>
  </div>
  </body>
</html>
